.table {
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
}
.division {
    font-size: 25px;
    font-weight: bold;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px 10px;
    width: 100px;
}
.bold {
    font-weight: bold;
}
#button {
    font-size: 20px;
    padding: 15px 90px;
    cursor: pointer;
}
