{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <p class="division">Division 1</p>
        <table class="table">
            <thead>
                <tr>
                    <td class="bold">Teams</td>
                    {% for team in teams['team1'] %}
                        <td class="bold">{{ team }}</td>
                    {% endfor %}
                    <td class="bold">Total</td>
                </tr>
            </thead>
            <tbody>
                {% for division in divisions['division1']['matrix'] %}
                    <tr>
                        <td class="bold">{{ teams['team1'][loop.index - 1] }}</td>
                        {% for match in division %}
                            {%  if match is not empty %}
                                <td>{{ match['result'] }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                        {% endfor %}
                        <td class="bold">{{ divisions['division1']['score'][loop.index - 1]['total'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="division">Division 2</p>
        <table class="table">
            <thead>
            <tr>
                <td class="bold">Teams</td>
                {% for team in teams['team2'] %}
                    <td class="bold">{{ team }}</td>
                {% endfor %}
                <td class="bold">Total</td>
            </tr>
            </thead>
            <tbody>
            {% for division in divisions['division2']['matrix'] %}
                <tr>
                    <td class="bold">{{ teams['team2'][loop.index - 1] }}</td>
                    {% for match in division %}
                        {%  if match is not empty %}
                            <td>{{ match['result'] }}</td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                    {% endfor %}
                    <td class="bold">{{ divisions['division2']['score'][loop.index - 1]['total'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <button id="button">Results</button>

    <div class="demo"></div>

    <script>
        $(document).on('click', '#button', function(){
            that = $(this);
            $.ajax({
                url:'{{ path('button') }}',
                type: "POST",
                dataType: "json",
                async: true,
                success: function (data)
                {
                    $('.demo').bracket({
                        teamWidth: 100,
                        scoreWidth: 40,
                        matchMargin: 70,
                        roundMargin: 100,
                        init: data,
                    });
                }
            });
            return false;
        });
    </script>
{% endblock %}
