<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/jquery.bracket.min.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/jquery.bracket.min.js') }}" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
